@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
body {
  font-family: "Lexend Deca", sans-serif;
}
button{ font-family: "Lexend Deca", sans-serif;}
input,select{ font-family: "Lexend Deca", sans-serif;}
h1,h2,h3,h4,h5,h6,p,ul,li,a{ font-family: "Lexend Deca", sans-serif;}
